///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.
$inuit-static-images: false;
$inuit-wrapper-width: 1000px;


// Standardize some UI treatments.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;

$brand-color: #144987;

$header-break-point: 653px;
$header-border-bottom-width: 1px;

$nav-two-row-sub-menu-width: 1200px;
$nav-padding-bottom: 13px;
$nav-sub-menu-padding-top: $nav-padding-bottom * 2 + $header-border-bottom-width;
$nav-sub-menu-font-size: 0.85em;
$nav-sub-menu-row-gap: 10px;
$nav-sub-menu-clue-width: 3em;

$index-slider-header-height-number-mobile: 20.033112582781457;
$index-slider-cover-wrapper-height-number-mobile: 47.682119205298013;
$index-slider-cover-margin-bottom-mobile: 180px;
$index-slider-break-point: 980px;