/* ==========================================================================
   # ETC
   ========================================================================== */

.u-block {
  display: block;
}

.u-left-0 {
  left: 0;
}

.u-color-white {
  color: white;
}

.u-overflow-x-scroll {
  overflow-x: scroll;
}

.u-text-center {
  text-align: center;
}

.u-text-small {
  font-size: 0.85em;
}

.u-some-box-shadow {
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.3);
}

.u-text-nowrap {
  white-space: nowrap;
}

.u-1\:1 {
  aspect-ratio: 1/1;
}

.u-border-top-light-gray {
  border-top: 1px solid $oc-gray-2;
}

.u-border-light-gray {
  border: 1px solid $oc-gray-2;
}


.u-color-light-gray {
  color: #868e96;
}

.u-color-inherit {
  color: inherit;
}

.u-text-right {
  text-align: right;
}
