.s-editor-content {
    line-height: 1.7;

    h2 {
        color: $brand-color;
        margin-top: 3rem;
        margin-bottom: $inuit-global-spacing-unit;
        font-size: 1.3rem;
    }

    h3 {
        margin-top: 2rem;
        margin-bottom: $inuit-global-spacing-unit;
        font-size: 1.1rem;
    }

    h4,
    h5,
    h6 {
        margin-top: 2rem;
        margin-bottom: $inuit-global-spacing-unit;
        font-size: 1rem;
    }

    blockquote {
        margin-left: 2em;
        color: $oc-gray-6;
    }

    .wp-block-image {
        margin-left: -$inuit-global-spacing-unit-small;
        margin-right: -$inuit-global-spacing-unit-small;
        @media (min-width: 1000px) {
            margin-left: -100px;
            margin-right: -100px;
        }
    }
    figcaption {
        color: $oc-gray-6;
        margin-left: $inuit-global-spacing-unit-small;
        margin-right: $inuit-global-spacing-unit-small;
        margin-top: 5px;
        a {
            color: $oc-gray-6;
            text-decoration: underline;
        }
        @media (min-width: 1000px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
}