.c-new-mark {
    position: absolute;
    right: 1.666666666666667rem;
    top: 0;
    text-align: center;
    color: white;
    width: 3.666666666666667rem;
    height: 1.944444444444444rem;
    padding-top: 0.555555555555556rem;
    background-color: $brand-color;
    margin-top: -2px;
    &:after {
        content: "";
        width: 3.666666666666667rem;
        height: 1.388888888888889rem;
        position: absolute;
        border-left: 1.833333333333333rem solid transparent;
        border-right: 1.833333333333333rem solid transparent;
        border-top: 1.111111111111111rem solid $brand-color;
        left: 0;
        top: 100%;
    }
}