.c-sns-detail {
    position: relative;
    &:hover, &:focus, &:focus-within {
        .c-sns-detail__sub-menu {
            transform: scaleY(1);
        }
    }
}

.c-sns-detail__sub-menu {
    transition: transform 0.3s;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    white-space: nowrap;
    margin-top: $inuit-button-padding-vertical;
    margin-left: calc((1.5rem * 3 + 12px * 3) * -1);
    background-color: #fff;
    border: 1px solid $oc-gray-4;
    padding: 12px;
    width: max-content;
    display: flex;
    gap: 12px;
}

.c-sns-detail__sub-menu-img {
    height: 1.5rem;
    width: auto;
}