.c-brand-title {
    font-size: 1.7rem;
    color: $brand-color;
    font-weight: bold;
}

.c-brand-title--box-on-desktop {
    @media (min-width: 980px) {
        background-color: $brand-color;
        color: white;
        padding: 6px 0 3px;
        font-size: 1.4rem;
        font-weight: normal;
        margin-bottom: 0;
    }
}