.pagination {
    margin-top: $inuit-global-spacing-unit-huge;
    margin-bottom: $inuit-global-spacing-unit-huge;
    text-align: center;
}

.page-numbers:not(.dots) {
    transition: all 0.3;
    min-width: 3em;
    height: 3em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $oc-gray-6;
    border: 1px solid $oc-gray-3;
    &.current,
    &:hover {
        color: $brand-color;
        background-color: $oc-gray-2;
    }
}