$curation-box-break-point: 942px;
$curation-box-inner-width-desktop: 742px;
$curation-box-header-width-desktop: 200px;
$curation-box-covers-gap-desktop: 20px;
$curation-box-header-gap-desktop: 50px;
$curation-box-covers-width-desktop: $curation-box-inner-width-desktop - $curation-box-header-width-desktop - $curation-box-header-gap-desktop;


.c-curation-box {
    margin-bottom: 17vw;

    --covers-gap: 2.536231884057971vw;
    --cover-width: 17.391304347826087vw;
    @media (min-width: $curation-box-break-point) {
        margin-bottom: 0;
        padding-top: 40px;
        padding-bottom: 40px;
        background-image: url(/images/bg-curation.jpg);
        background-size: contain;
        background-repeat: repeat-x;

        --covers-gap: #{$curation-box-covers-gap-desktop};
        --cover-width: calc(25% - var(--covers-gap) * 3 / 4)
    }
}

.c-curation-box__inner {
    display: block;
    width: 77.777777777777778vw;
    margin-left: auto;
    margin-right: auto;
    @media (min-width: $curation-box-break-point) {
        width: 742px;
        display: flex;
        gap: $curation-box-header-gap-desktop;
    }
}

.c-curation-box__header {
    word-break: keep-all;
    @media (min-width: $curation-box-break-point) {
        min-width: 200px;
        background-color: #fff;
        padding: 15px;
        font-size: 1rem;
    }
}

.c-curation-box__subtitle {
    font-size: 1.2rem;
    margin-bottom: 0;
    strong {
        font-weight: normal;
        color: #d23828;
    }
    @media (min-width: $curation-box-break-point) {
        font-size: 0.9rem;
    }
}

.c-curation-box__subtitle-line {
    margin: 0.8rem 0 1rem;
    width: 2rem;
    border-bottom: 2px solid black;
}

.c-curation-box__title {
    font-size: 1.7rem;
    line-height: 1.4;
    @media (min-width: $curation-box-break-point) {
        font-size: 1.3rem;
    }
}

.c-curation-box__covers {
    display: flex;
    gap: var(--covers-gap);
    align-items: flex-end;
    justify-content: space-between;
    @media (min-width: $curation-box-break-point) {
        min-width: $curation-box-covers-width-desktop
    }
}

.c-curation-box__cover {
    max-width: var(--cover-width);
    height: auto;
    flex-shrink: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.c-curation-box__text {
    -webkit-line-clamp: 6;
    line-clamp: 6;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 0.85rem;
    color: $oc-gray-7;
    @media (min-width: $curation-box-break-point) {
        -webkit-line-clamp: 8;
        line-clamp: 8;

    }
}

.c-curation-box__text--1col {
    width: var(--cover-width);
}

.c-curation-box__text--2col {
    width: calc(var(--covers-gap) + var(--cover-width) * 2);
}

.c-curation-box__text--3col {
    width: calc(var(--covers-gap) * 2 + var(--cover-width) * 3);
}