.c-pretty-pipe {
    font-size: .8em;
    display: inline-block;
    padding-left: .7em;
    margin-right: .7em;
  }
  
  .c-pretty-pipe--large {
    font-size: 0.9em;
    padding-left: 1em;
    margin-right: 1em;
  }
  