/* ==========================================================================
   # MODAL
   ========================================================================== */
/**
 * 반투명 검은 막을 띄우고 그 안에 들어 있는 요소를 수직좌우 가운데 정렬해 주는 컴포넌트
 */

 .c-modal {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s;
 }

 .c-modal--visible {
    transform: scaleY(1);
 }