/* ==========================================================================
   # SEARCH BOX
   ========================================================================== */
/**
 * 데스크톱 헤더 우측 검색 상자
 */

.c-search-box {
   display: inline-flex;
   border: 3px solid $brand-color;
   height: 2em;
   max-width: 80vw;
}

.c-search-box__input {
   border: none;
   border-radius: 0;
   -webkit-appearance: none;
   appearance: none;
   outline: none;
   transition: background-color 0.3s ease;
   min-width: 0;
   &:focus {
      background-color: #dfdfdf;
   }
}

.c-search-box__submit {
   background-color: $brand-color;
   border: none;
   padding: 0 10px 0 17px;
   @media (min-width: $header-break-point) {
      padding: 0;
      height: 100%;
      aspect-ratio: 1/1;
      border-left: 3px solid $brand-color;
      box-sizing: content-box;
   }
}

.c-search-box__magnifier {
   fill: white;
   vertical-align: bottom;
   width: 1.25em;
   height: auto;
}
