.c-image-and-title {
    text-align: center;
}
.c-image-and-title__img {
    object-fit: cover;
    height: 15rem;
    min-height: 15rem;
    width: auto;
}
.c-image-and-title__header {
    word-break: keep-all;
    font-weight: 300;
}
.c-image-and-title__subtitle {
    margin: 0;
}
.c-image-and-title__title {
    font-weight: inherit;
    font-size: 1.5rem;
    margin: 0;
    @media (min-width: 670px) {
        font-size: 1.3rem;
    }
}
.c-image-and-title__meta {
    margin-top: 0.9rem;
    color: $oc-gray-7;
}