$feature-slider-break-point: 980px;

.c-feature-slider {
    position: relative;
    max-width: $feature-slider-break-point;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $inuit-global-spacing-unit-huge;

    @media (min-width: $feature-slider-break-point) {
        margin-bottom: $inuit-global-spacing-unit-huge * 2;

        .swiper {
            max-width: $feature-slider-break-point;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.c-feature-slider__wrapper {
    display: flex;
    align-items: end;
    gap: 15px;
}

.c-feature-slider__slide {
    width: 25%;
}

.c-feature-slider__navigation {
    display: none;
    @extend .c-button-like-text;

    @media (min-width: ($feature-slider-break-point + 70px * 2)) {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-size: cover;
        position: absolute;
        top: calc(50% - 25px);
        opacity: 0.3;
    }
}

.c-feature-slider__navigation--prev {
    left: -70px;
    background-image: url(/images/icon-arrow-left.svg);
}

.c-feature-slider__navigation--next {
    right: -70px;
    background-image: url(/images/icon-arrow-right.svg);
}


.c-feature-slider__pagination {
    bottom: -50px !important;

    .swiper-pagination-bullet-active {
        background-color: rgba(0, 0, 0, 0.7);
    }
}