.c-tab {
    position: relative;
}

.c-tab__buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5.465870778155999rem, 1fr));
    border-top: 1px solid $oc-gray-6;
    border-left: 1px solid $oc-gray-6;
    position: relative;
}

.c-tab__button {
    @extend .c-btn;
    background-color: white;
    white-space: nowrap;
    border-right: 1px solid $oc-gray-6;
    border-bottom: 1px solid $oc-gray-6;
    padding: 12px 0;

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: $oc-gray-6;
    }

    /* 기본적으로 .c-tab__button:first-child의 배경색은 $brand-color입니다. */
    &.c-tab__button--active,
    &:hover,
    &:focus,
    &:focus-within {
        background-color: $brand-color;
        color: #fff;
    }

}


.c-tab__content-container {
    padding-top: 1.5em;
    margin-bottom: 3em;
}

.c-tab__content {
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s;
    position: absolute;
    top: 0;
    @media (min-width: 980px) {
        display: flex;
    }
}

.c-tab__content--active {
    transform: scaleY(1);
    position: static;
}

.c-tab__content-title {
    display: none;
    @media (min-width: 980px) {
        min-width: 272px;
        display: block;
        font-size: 1.4em;
    }
}

.c-tab__content-body {
    @media (min-width: 980px) {
        flex-grow: 1;
    }
}