.c-pull-down {
    position: relative;
    &:hover, &:focus, &:focus-within {
        .c-pull-down__sub-menu {
            transform: scaleY(1);
        }
    }
}

.c-pull-down__sub-menu {
    transition: transform 0.3s;
    transform: scaleY(0);
    transform-origin: top;
    position: absolute;
    margin-top: $inuit-button-padding-vertical;
    $parent-button-horizontal-padding: 18px;
    width: 100%;
    margin-left: $parent-button-horizontal-padding * -1;
    background-color: #fff;
}

.c-pull-down__sub-menu-item {
    display: block;
    padding-top: 12px;
    padding-bottom: 12px;
    color: $oc-gray-6;
    border-right: 1px solid $oc-gray-4;
    border-left: 1px solid $oc-gray-4;
    border-bottom: 1px solid $oc-gray-4;
}