.c-footer {
    color: #636363;
    a {
        color: currentColor;
    }
    border-top: 1px solid currentColor;
}

.c-footer__inner {
    max-width: $inuit-wrapper-width;
    margin-right: auto;
    margin-left: auto;
    padding: $inuit-global-spacing-unit-large $inuit-global-spacing-unit;
}

.c-footer__line1 {
    margin-bottom: 8px;
}

.c-footer__line2, .c-footer__line3 {
    font-weight: 300;
}