/* ==========================================================================
   # HEADER
   ========================================================================== */
/**
 * 헤더 컴포넌트
 */

.c-header {
  border-bottom: $header-border-bottom-width solid #ddd;
  margin-bottom: calc($nav-sub-menu-font-size + $nav-padding-bottom * 2);
  @media (min-width: 1200px) {
    margin-bottom: calc(
      $nav-sub-menu-font-size * 2
      + $nav-sub-menu-row-gap
      + $nav-sub-menu-padding-top
      + $nav-padding-bottom
    );
  }
}

.c-header__inner {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 20px;
  max-width: $inuit-wrapper-width;

  @media (min-width: $header-break-point) {
    padding: 0 $inuit-global-spacing-unit-small;
    margin-left: auto;
    margin-right: auto;
  }
}

.c-header__logo-and-hamburger {
  display: flex;
  align-items: center;
  padding: 10px;
  min-width: 150px;
  @media (min-width: $header-break-point) {
    padding: 0;
    grid-row: 1 / 3;
  }
}

.c-header__hamburger {
  @media (min-width: $header-break-point) {
    display: none!important;
  }
}

.c-header__logo {
  width: 25vw;
  height: auto;
  @media (min-width: 458px) {
    width: 114px;
  }
  @media (min-width: $header-break-point) {
    width: 20vw;
  }
  @media (min-width: 768px) {
    width: 150px;
  }
}

.c-header__magnifier {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  @media (min-width: $header-break-point) {
    display: none;
  }
}

.c-header__search-container {
  display: none;
  @media (min-width: $header-break-point) {
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  @media (min-width: 900px) {
    margin-top: 20px;
  }
}

.c-header__nav {
  grid-column: 1 / 3;
  @media (min-width: $header-break-point) {
    grid-column: 2;
  }
}