.c-form-table {
    th {
        vertical-align: top;
        font-weight: bold;
        text-align: right;
        padding-right: 1em;
    }
    th, td {
        padding-top: 5px;
        padding-bottom: 5px;
    }
}