.c-book-box {
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border: 1px solid $oc-gray-4;
    background-color: $oc-gray-1;
    margin-bottom: $inuit-global-spacing-unit;
}

.c-book-box__img {
    max-width: 100px;
}

.c-book-box__body {
    padding: 1rem;
}