.c-circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-circle--primary {
    background-color: $brand-color;
}

.c-circle__icon {
    width: 45%;
}