/* ==========================================================================
   # Button Like Text
   ========================================================================== */
/**
 * 태그는 버튼이지만, 텍스트처럼 버튼 모양이 없는. 시맨틱 HTML을 만들기 위한 클래스.
 */

.c-button-like-text {
  border: none;
  background-color: transparent;
  padding: 0;
  display: inline-block;
  -webkit-appearance: none;
}