.c-horizontal-dot-nav {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 5px;
    justify-content: center;
}

.c-horizontal-dot-nav__item:not(:last-child) {
    position: relative;
    &:after {
        content: "∙";
        position: absolute;
        right: -16px;
    }
}