.c-cover-thumb {
    background-image: url(/images/bg-gray-gradation-small.jpg);
    background-size: cover;
    aspect-ratio: 1 / 1;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c-cover-thumb__img {
    max-width: none;
    height: 80px;
    width: auto;
    @extend .u-some-box-shadow;
}