.c-detail {
    display: grid;
    gap: $inuit-global-spacing-unit;
    grid-template-areas:
        "cover"
        "meta"
        "buttons"
        "description"
        "card-news";
    grid-template-columns: 100%;

    @media (min-width: 980px) {
        grid-template-areas:
            "meta meta"
            "cover buttons"
            "cover description"
            "card-news card-news";
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 1fr 1fr;
        column-gap: $inuit-global-spacing-unit-large;
    }
}

.c-detail__cover {
    grid-area: cover;
    margin-bottom: $inuit-global-spacing-unit;
    @media (min-width: 980px) {
        margin-bottom: $inuit-global-spacing-unit-huge;
    }
}

.c-detail__cover-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $inuit-global-spacing-unit-small;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1)

}

.c-detail__meta {
    grid-area: meta;
    @media (min-width: 980px) {
        border-bottom: 1px solid $oc-gray-5;
        padding-bottom: $inuit-global-spacing-unit;
    }
}

.c-detail__buttons {
    grid-area: buttons;
}

.c-detail__buttons-inner {
    display: inline-flex;
    gap: 5px;
    height: 2.833333333333333em;
}

.c-detail__description {
    grid-area: description;
}

.c-detail__card-news {
    grid-area: card-news;
    margin-bottom: $inuit-global-spacing-unit-large;
}

.c-detail__h2 {
    font-weight: normal;
    font-size: 1.1em;
    @media (min-width: 980px) {
        margin-bottom: -1.1em;
    }
}