.c-title-in-detail {
    font-weight: normal;
    margin-bottom: $inuit-global-spacing-unit-small;
}
.c-title-in-detail__title {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}
.c-title-in-detail__subtitle + .c-title-in-detail__title {
    margin-top: 5px;
}
.c-title-in-detail__subtitle {
    font-size: .5em;
    margin-bottom: 5px;
    line-height: 1.4;
    display: block;
}
.c-title-in-detail__original-title {
    font-size: .5em;
    color: $oc-gray-6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    display: block;
}
.c-title-in-detail__meta {
    display: block;
    font-size: 0.8rem;
    color: $oc-gray-6;
    a {
        color: inherit;
    }
}