.c-new-book-layout {
    padding-left: 12px;
    padding-right: 12px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $inuit-global-spacing-unit-huge;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $inuit-global-spacing-unit;
    @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr 1fr;
    }
    @media (min-width: 980px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}