.c-list-article {
    padding-top: $inuit-global-spacing-unit;
    margin-bottom: $inuit-global-spacing-unit;
    position: relative;
    @media (min-width: 980px) {
        padding-top: $inuit-global-spacing-unit-large;
        margin-bottom: $inuit-global-spacing-unit-large;
    }
}

.c-list-article__title-container {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.c-list-article__tag {
    font-size: 0.95rem;
    color: white;
    background-color: $oc-gray-7;
    padding: 2px 5px 0 5px;
    display: inline-block;
    margin-bottom: 5px;
}

.c-list-article__subtitle {
    display: block;
    font-size: 1rem;
    color: $brand-color;
    font-weight: normal;
    @media (min-width: 768px) {
        font-size: 1.1rem;
    }
}

.c-list-article__title {
    display: block;
    font-size: 1.3rem;
    @media (min-width: 768px) {
        font-size: 1.5rem;
    }
}

.c-list-article__gray-small-text {
    font-size: 0.9rem;
    color: $oc-gray-6;
}
