/* ==========================================================================
   # MAIN NAV
   ========================================================================== */
/**
 * 메인 내비게이션 컴포넌트
 */
.c-main-nav {
  line-height: 1;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0 10px $nav-padding-bottom 10px;
  position: relative;

  @media (min-width: 458px) {
    justify-content: center;
  }

  @media (min-width: $header-break-point) {
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
  }

  @media (min-width: 838px) {
    gap: 20px;
    font-size: 20px;
  }
}

.c-main-nav__a {
  white-space: nowrap;
  display: block;
  font-size: 0.9em;

  @media (min-width: 458px) {
    padding: 0 .4em;
    font-size: 1em;
  }
}


.c-main-nav__sns {
  display: none;

  @media (min-width: $header-break-point) {
    display: flex;
    gap: 10px;
    a, svg {
      display: block;
    }
  }
}

.c-main-nav__sub-menu {
  position: absolute;
  white-space: nowrap;
  list-style: none;
  margin-left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .3s;
  padding-top: $nav-sub-menu-padding-top;
  max-width: 100%;
  padding-right: $nav-sub-menu-clue-width;
  @media (max-width: 980px) {
    overflow-x: scroll;
    overflow-y: hidden;
  }

  >li {
    display: inline-block;
  }
}

.c-main-nav__sub-menu--grid-on-desktop {
  @media (min-width: $nav-two-row-sub-menu-width) {
    display: grid;
    grid-template-columns: repeat(5, minmax(90px, 1fr));
    width: 100%;
    white-space: normal;
    row-gap: $nav-sub-menu-row-gap;
    padding-left: calc(100% / 6);
    >li:first-child {
      position: absolute;
      padding-top: $nav-sub-menu-padding-top;
    }
    >li {
      text-align: center;
    }
  }
}

@media (max-width: 980px) {
  .c-main-nav__li--has-clue {
    &:after {
      content: '';
      width: $nav-sub-menu-clue-width;
      height: 92%;
      display: block;
      position: absolute;
      top: calc(#{$nav-sub-menu-padding-top} + 1em);
      right: 0;
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%);
    }
  }
}

.c-main-nav__underline {
  display: block;
  position: relative;
  &:after {
    content: '';
    transform: scaleX(0);
    transition: transform 0.3s;
    position: absolute;
    width: 100%;
    bottom: -5px;
    left: 0;
    border-bottom: 3px solid transparent;
  }
}

.c-main-nav__li {
  display: block;
  &:hover, &.c-main-nav__li--active {
    .c-main-nav__underline:after {
      border-color: $brand-color;
      transform: scaleX(1);
    }

    .c-main-nav__sub-menu {
      transform: scaleX(1);
    }
  }
  @media (min-width: $nav-two-row-sub-menu-width) {
    &:not(:has(.c-main-nav__sub-menu--grid-on-desktop)) {
      .c-main-nav__sub-menu > li {
        margin-right: 20px;
      }
    }
  }
}

.c-main-nav__sub-a {
  padding: 0 .4em;
  font-size: $nav-sub-menu-font-size;
  color: $oc-gray-7;
  white-space: nowrap;

  &:hover {
    color: $brand-color;
  }
}