$newsletter-box-break-point: 700px;

.c-newsletter-box {
    text-align: center;
    max-width: $newsletter-box-break-point;
    margin-left: $inuit-global-spacing-unit-small;
    margin-right: $inuit-global-spacing-unit-small;
    margin-bottom: $inuit-global-spacing-unit-huge;
    background-color: $oc-gray-1;
    padding: 2em;

    @media (min-width: $newsletter-box-break-point) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.c-newsletter-box__title {
    color: $brand-color;
    font-size: 1.3rem;
    margin-bottom: 0;
}

.c-newsletter-box__description {
    margin-bottom: 0;
}

.c-newsletter-box__form {
    display: inline-flex;
}

.c-newsletter-box__input {
    border-radius: 0;
    border: 1px solid $oc-gray-5;
    width: 13em;
}