$journal-box-break-point: 980px;

.c-journal-box {
    --cover-height: 120px;
    @media (min-width: $journal-box-break-point) {
        --cover-height: 150px;
    }

    text-align: center;
    background-image: url(/images/bg-blue.jpg);
    background-size: cover;
    padding: 30px 0;
    font-size: 0.9em;
    line-height: 1.6 ;
    margin-bottom: $inuit-global-spacing-unit-huge;
    @media (min-width: $journal-box-break-point) {
        text-align: left;
    }
}

.c-journal-box__inner {
    display: block;

    @media (min-width: $journal-box-break-point) {
        max-width: 740px;
        margin-left: auto;
        margin-right: auto;
    }
}

.c-journal-box__flex-wrapper {
    @media (min-width: $journal-box-break-point) {
        display: flex;
    }
}

.c-journal-box__header {
    font-size: 1rem;
    @media (max-width: ($journal-box-break-point - 1)) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
    @media (min-width: $journal-box-break-point) {
        display: block;
    }
}

.c-journal-box__title {
    font-size: 1.3rem;
    display: inline-block;
    margin-right: .5em;
}

.c-journal-box__subtitle {
    font-size: 1rem;
    display: inline-block;
}

.c-journal-box__cover-wrapper {
    display: inline-block;
}

.c-journal-box__cover {
    height: var(--cover-height);
    width: auto;
    max-width: none;
}

.c-journal-box__logo {
    height: var(--cover-height);
    vertical-align: top;

    @media (min-width: $journal-box-break-point) {
        display: none;
    }
}

.c-journal-box__issue-name {
    font-weight: bold;
    margin-top: 5px;

    @media (min-width: $journal-box-break-point) {
        display: none;
    }
}

.c-journal-box__body {
    display: none;

    @media (min-width: $journal-box-break-point) {
        min-height: var(--cover-height);
        display: block;
        flex-grow: 1;
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
        padding: 1em 1em 1em 2em;
        list-style-type: square;
        gap: 30px;
        columns: 200px 2;
        column-fill: balance;
    }
}