.c-index-slider {
    position: relative;
    overflow-y: visible;
    margin-bottom: 50px;
    @media (min-width: $index-slider-break-point) {
        margin-bottom: 150px;
    }
}

.c-index-slider__slide {
    @media (min-width: $index-slider-break-point) {
        position: relative;
        overflow: hidden;
    }
}

.c-index-slider__slide-inner {
    color: inherit;
    @media (min-width: $index-slider-break-point) {
        width: $index-slider-break-point;
        margin-left: auto;
        margin-right: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        gap: 100px;
        flex-direction: row-reverse;
        &:hover {
            text-decoration: none;
        }
    }
}

.c-index-slider__header {
    @media (max-width: ($index-slider-break-point - 1)) {
        min-height: $index-slider-header-height-number-mobile * 1vh;
        min-height: $index-slider-header-height-number-mobile * 1dvh;
        padding: 4.966887417218543dvh;
        padding-bottom: 0;
    }
    @media (min-width: $index-slider-break-point) {
        width: 50%;
    }
}

.c-index-slider__bg-circle {
    @media (min-width: $index-slider-break-point) {
        width: 600px;
        aspect-ratio: 1/1;
        border-radius: 50%;
        position: absolute;
        right: -30px;
        top: 60px;
    }
}

.c-index-slider__h1 {
    line-height: 1.3;
    @media (min-width: $index-slider-break-point) {
        opacity: 0.999999;
        margin-bottom: 50px;
    }
}

.c-index-slider__meta {
    line-height: 1.3;
    @media (min-width: $index-slider-break-point) {
        opacity: 0.999999;
    }
}

.c-index-slider__title {
    @media (min-width: $index-slider-break-point) {
        font-size: 3rem;
    }
}

.c-index-slider__subtitle-head, .c-index-slider__subtitle-tail {
    font-size: 1rem;
    font-weight: normal;
    @media (min-width: $index-slider-break-point) {
        font-size: 1.25rem;
    }
}

.c-index-slider__cover-wrapper {
    padding-bottom: $index-slider-cover-margin-bottom-mobile;
    @media (min-width: $index-slider-break-point) {
        padding-bottom: 0;
    }
}

.c-index-slider__cover {
    @media (max-width: ($index-slider-break-point - 1)) {
        height: $index-slider-cover-wrapper-height-number-mobile * 1vh;
        height: $index-slider-cover-wrapper-height-number-mobile * 1dvh;
    }
    @media (min-width: $index-slider-break-point) {
        height: 380px;
    }
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.c-index-slider__thumbnail-wrapper {
    display: flex;
    gap: 20px;
    position: absolute;
    z-index: 1;
    justify-content: center;
    width: 100%;
    bottom: 20px;
    align-items: flex-end;
    @media (min-width: $index-slider-break-point) {
        width: auto;
        justify-content: left;
        left: 50%;
        bottom: -35px;
    }
}

.c-index-slider__thumbnail-button {
    @extend .c-button-like-text;
    width: 14vw;
    max-width: 80px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.c-index-slider__thumbnail-button--active {
    width: 16vw;
    max-width: 90px;
}

.c-index-slider__thumbnail {
    width: 100%;
    height: auto;
}