.c-index-boards {
    display: block;
    word-break: keep-all;
    @media (min-width: 980px) {
        display: flex;
        justify-content: center;
        gap: 120px;
    }
}

.c-index-boards__board {
    @media (min-width: 980px) {
        width: 430px;
        display: flex;
        flex-direction: column;
    }
}

.c-index-boards__board + .c-index-boards__board {
    margin-top: $inuit-global-spacing-unit-huge;
    @media (min-width: 980px) {
        margin-top: 0;
    }
}

.c-index-boards__board--vertical-center {
    .c-index-boards__item {
        align-items: center;
    }    
}

.c-index-boards__item {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    border-bottom: 1px solid $oc-gray-4;
    @media (min-width: 980px) {
        padding-left: 0;
        padding-right: 0;
    }
}

.c-index-boards__subtitle {
    font-size: 0.9em;
    color: $oc-gray-7;
}