@use "sass:math";

/* ==========================================================================
   # LINK
   ========================================================================== */

/**
 * 링크의 기본 색상은 검정색으로 한다.
 * 본문 안의 링크에만 색상을 준다.
 */

a {
  color: black;
  text-decoration: none;
}