input,
textarea,
select {
    border-radius: 5px;
}

button,
input[type=button],
input[type=submit],
input[type=reset] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input, textarea {
    border: 1px solid $oc-gray-4;
    padding-top: 5px;
    padding-bottom: 5px;
}
