@use "sass:math";

/* ==========================================================================
   #PAGE
   ========================================================================== */

/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project,
 *    sourced from our default variables. The `font-size` is calculated to exist
 *    in ems, the `line-height` is calculated to exist unitlessly.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */

html {
  font-size: 4.347826086956522vw;
  font-family: 'Pretendard Variable', sans-serif;
  line-height: math.div($inuit-global-line-height, $inuit-global-font-size); /* [1] */
  overflow-y: scroll; /* [2] */
  min-height: 100%; /* [3] */
  scroll-behavior: smooth;
  scroll-padding-top: 70px;

  @media (min-width: 458px) {
    font-size: 1em;
  }

  @media (min-width: 670px) {
    font-size: 2.388059701492537vw;
  }

  @media (min-width: 838px) {
    font-size: 18px;
  }
}
