/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

// We have all of our heading font sizes defined here. Passing these pixel
// values into our `inuit-font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

$inuit-font-size-h1:  36px !default;
$inuit-font-size-h2:  28px !default;
$inuit-font-size-h3:  24px !default;
$inuit-font-size-h4:  20px !default;
$inuit-font-size-h5:  18px !default;
$inuit-font-size-h6:  16px !default;

h1 {
  word-break: keep-all;
  font-size: $inuit-font-size-h1;
  line-height: 1.3;
}

h2 {
  word-break: keep-all;
  font-size: $inuit-font-size-h2;
  line-height: 1.3;
}

h3 {
  word-break: keep-all;
  font-size: $inuit-font-size-h3;
  line-height: 1.3;
}

h4 {
  word-break: keep-all;
  font-size: $inuit-font-size-h4;
  line-height: 1.3;
}

h5 {
  word-break: keep-all;
  font-size: $inuit-font-size-h5;
  line-height: 1.3;
}

h6 {
  word-break: keep-all;
  font-size: $inuit-font-size-h6;
  line-height: 1.3;
}
